<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Spring Boot Login & Register Demo</title>
	</head>
	<body>
		<div align="center" class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top navbar navbar-dark bg-dark">
   				<div class="navbar-header">
    				<h2 class="text-light">Spring Boot Login & Register Demo</h2>
   				</div>
 			</nav>
			<br>
			<h1>Register</h1>
			<br>
			<form action="#" th:action="@{/register}" th:object="${user}" method="post">
				<div th:if="${param.success}">
					<div class="alert alert-info">You have been successfully registered.</div>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error: ${#fields.errors('global')}" th:text="${error}">
					Validator Error
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error': ''">
					<label class="control-label" for="firstName">First Name</label>
					<input type="text" class="form-control" id="firstName" th:field="*{firstName}" autofocus="autofocus" placeholder="Enter your first name.">
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error': ''">
					<label class="control-label" for="lastName">Last Name</label>
					<input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter your last name.">
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error': ''">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter your email.">
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('email')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error': ''">
					<label class="control-label" for="lastName">Confirm Email</label>
					<input type="email" class="form-control" id="confirmEmail" th:field="*{confirmEmail}" placeholder="Enter your confirm email.">
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('confirmEmail')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error': ''">
					<label class="control-label" for="password">Password</label>
					<input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter your password.">
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('password')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error': ''">
					<label class="control-label"  for="confirmPassword">Confirm Password</label>
					<input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Enter your confirm password.">
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group" th:classappend="${#fields.hasErrors('terms')}? 'has-error': ''">
					<input type="checkbox" class="form-control" id="terms" th:field="*{terms}"><br>
					<label class="control-label" for="terms"> I agree with the <a href="#">terms and conditions</a> for Registration.</label>
					<br>
					<div class="alert alert-danger" th:each="error: ${#fields.errors('terms')}" th:text="${error}">
						Validator Error
					</div>
				</div><br>
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
					<br>
					<span>Already registered? <a href="/login">Login here</a></span>
				</div>
			</form>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>